
.move_bar {
cursor:move;
}
.th_headermenu_title {
width:100%;
margin-bottom:5px;
}
.th_headermenu_line_title_header {
padding-top:2px;
vertical-align:top;
width:10px;
}
.th_headermenu_round_title_header {
padding-top:2px;
vertical-align:top;
width:25px;
}
img {border:0px;}
form {margin:0px;}
dl {
display:inline;
}
dl,dt,dd {
margin:0;
padding:0;
}
p {margin:2px 0;}
body {
text-decoration:none;
color:#494949;
margin:0px;
padding:0px;
font-size:80%;
font-family:Arial, sans-serif;
}
optgroup {
font-style:normal;
}
div.outerdiv {
padding:5px;
}
.head {
border:0px;
white-space:nowrap;
padding:4px 3px;
vertical-align:top;
}
.foot {
border:0px;
white-space:nowrap;
padding:4px 3px;
}
.note {
background-color:#f3f3f3;
}
table {
border-width:0px;
padding:0px;
border-collapse:collapse;
font-size: small;
}
table.outer {
width:100%;
margin:0px;
padding:0px;
border:0px;
}
table.outer th {
padding:5px;
border:0px;
white-space:nowrap;
font-weight:normal;
text-align:left;
}
table.outer th.head{
background-color:#f2f3f1;
}
.row {
padding:5px;
vertical-align:top;
border:0px;
}
tr.row td {
padding:5px;
vertical-align:top;
border:0px;
}
td,th {
padding:0px;
}
.comptextarea {
visibility :hidden;
font-size: small;
width:520px;
height:270px;
}
table.grid_header {
border-left : 1px solid #b8b8b8;
}
table.grid {
border-left  : 1px solid #ababab;
border-bottom : 1px solid #e0e0e0;
}
table.grid_header th {
padding : 2px 2px 2px 3px;
border-top : 1px solid #b8b8b8;
border-right : 1px solid #b8b8b8;
background-color : #f0f4f7;
text-align:left;
overflow:hidden;
font-weight:normal;
}
td.grid_row,tr.grid_row td {
padding : 2px 2px 2px 3px;
margin : 0px;
border-bottom : 1px solid #e0e0e0;
border-right : 1px solid #e0e0e0;
height : 22px;
overflow : hidden;
line-height: 12px;
}
.grid_change_disp {
width:30px;
}
.grid_name {
width:150px;
}
.grid_operate {
width:100px;
}
.grid_creator {
width:120px;
}
.grid_create_date {
width:100px;
}
.grid_manage {
width:150px;
}
th.grid_sort:hover {
background-color:#faf8f3;
text-decoration:none;
border-bottom:solid 2px #f9b119;
border-collapse:separate;
}
.deadline {
background-color:#ffdddd;
color:#ff0000;
}
.errorstr {
color:#ff0000;
}
.warnstr {
color:#0000ff;
}
.require {
color:#ff0000;
}
tr.current,div.current {
background-color:#fff7de;
color:#d64728;
white-space:nowrap;
}
.comp_calendar_icon {
margin: 0px 3px;
}
.comp_calendar_text {
width:80px;
}
textarea {
font-size: small;
line-height: 1.5;
}
a,a:link {
color:#04419a;
}
a:hover {
color:#0000ff;
}
a:visited,a:active {
color:#551a8b;
}
a.link,a.link:link {
color:#04419a;
text-decoration:none;
}
a.link:visited {
color:#04419a;
text-decoration:none;
}
a.link:hover {
color:#0000ff;
text-decoration:none;
}
a.link:active {
color:#04419a;
text-decoration:none;
}
a.syslink,a.syslink:link {
color:#5c9084;
text-decoration:none;
}
a.syslink:visited {
color:#1f704c;
text-decoration:none;
}
a.syslink:hover {
color:#006400;
text-decoration:none;
}
a.syslink:active {
color:#5c9084; text-decoration:none;
}
a.menulink,a.menulink:link {
color:#494949;
text-decoration:none;
}
a.menulink:visited {
color:#494949;
text-decoration:none;
}
a.menulink:hover {
color:#4e62a9;
text-decoration:none;
}
a.menulink:active {
color:#494949;
text-decoration:none;
}
._mod_title {
text-align:center;
overflow:hidden;
width:110px;
white-space:nowrap;
}
.module_box {
}
a.blockLink {
background-color:#f06f1d;
color:#ffffff;
display:block;
}
div.hr {
border-top:none;
border-left:none;
border-right:none;
border-bottom:1px solid #cccccc;
margin-top:5px;
margin-bottom:5px;
}
.tooltip {
position:absolute;
visibility:hidden;
padding:5px;
border:1px solid #000000;
background-color:#ffffdd;
font-size:80%;
}
.popupClass {
position:absolute;
visibility:hidden;
display:none;
padding:5px;
border: 1px solid;
border-color: #f1f1e9 #727272 #727272 #f1f1e9;
background-color:#ffffff;
}
iframe.popupIframe {
position:absolute;
border:0px;
}
input.lined_btn {
margin-left:5px;
}
div.top_description {
padding:5px;
}
td.selectlist {
text-align: center;
padding-top:5px;
}
td.selectlist_arrow_btn_area {
text-align: center;
vertical-align:middle;
white-space:nowrap;
padding:5px;
}
select.selectlist {
width:180px;
height:250px;
}
div.contextMenu {
padding:3px;
border:1px solid #aca899;
border-left:1px solid #666666;
border-right:1px solid #666666;
background-color:#FFFFFF;
}
div.contextRow {
padding-left:15px;
padding-right:15px;
white-space:nowrap;
color:#000000;
}
div.contextDisableRow {
padding-left:15px;
padding-right:15px;
white-space:nowrap;
color:#aca899;
}
div.contextHighlight {
background-color:#316ac5;
color:#ffffff;
}
.tooltipClass {
position:absolute;
visibility:hidden;
padding:5px;
border:1px solid #000000;
background-color:#ffffcc;
color:#000000;
white-space:nowrap;
}
.disable_lbl {
color:#aca899;
}
.print_preview {
background-color:#ffffff;
}
.print_header {
background-color:#eeeeee;
text-align:right;
padding:5px;
}
div.errorHeaderMsg {
background-color:#ffcccc;
text-align:center;
border-top:1px solid #ddddff;
border-left:1px solid #ddddff;
border-right:1px solid #aaaaaa;
border-bottom:1px solid #aaaaaa;
font-weight:bold;
padding:10px;
}
.logger {
font-size:12px;
}
.logger_block{
border: 1px solid #cc0033;
background-color:#faebd7;
}
.logger_notice{
color: #000000;
}
.logger_warning{
color: #ff6600;
}
.logger_error{
color: #ff0000;
}
.logger_debug{
color: #0000ff;
}
.logger_trace{
color: #0000ff;
}
.logger_other{
color: #336600;
}
.logger_sql{
color: #336600;
}
.loading {
width:16px;
height:16px;
border:0px;
position:absolute;
left:-100px
}
img.icon {
vertical-align:middle;
}
.btn-width {
width:75px;
padding:0.2em;
}
.tempbtn-width {
width:100px;
padding:0.2em;
}
.btn-bottom {
margin-top:5px;
text-align:center;
}
.redirect_body {
background-color:#ffffff;
}
.redirect_main{
margin: 120px 150px 80px;
text-align:left;
}
.redirect_text{
padding-left:8px;
font-size:210%;
}
.redirect_subtext{
padding-left:8px;
padding-top:50px;
font-size:130%;
font-weight:bold;
}
.redirect_subtext_link{
color:#5081c9;
text-decoration:underline;
}
span.blocktext,div.blocktext {
white-space:nowrap;
vertical-align:middle;
border-top:2px solid #666666;
border-left:2px solid #666666;
border-right:1px solid #cccccc;
border-bottom:1px solid #cccccc;
background-color:#FFFFFF;
}
.nc_block_title {
width:100%;
white-space:nowrap;
}
.highlight {
background-color:#e9f2fb;
color:#4e62a9;
}
a.hover_highlight,a.hover_highlight:link {
text-decoration:none;
}
a.hover_highlight:visited {
text-decoration:none;
}
a.hover_highlight:hover {
color:#4e62a9;
background-color:#e9f2fb;
text-decoration:none;
}
a.hover_highlight:active {
text-decoration:none;
}
#header_menu {
border-bottom: 1px solid #dfe4e7;
}
h2.nc_block_title {
height:1.1em;
font-size:120%;
}
table.monthlynumber_list {
border-collapse:collapse;
width:100%;
margin:0px;
padding:0px;
border:1px solid #cccccc;
}
table.monthlynumber_list th {
padding:2px 8px; border:0px;
background-color:#f2f3f1;
white-space:nowrap;
font-weight:normal;
}
table.monthlynumber_list td {
border:1px solid #cccccc;
padding:2px 8px;
white-space:nowrap;
}
h1,h2,h3,h4,h5,h6 {
line-height:normal;
padding:0px;
margin:0px;
margin-bottom:5px;
}
.widthmax {
width:100%;
}
.widthauto {
width:auto;
}
.nowrap {
white-space:nowrap;
}
.valign-top {
vertical-align:top;
}
.valign-middle {
vertical-align:middle;
}
.valign-bottom {
vertical-align:bottom;
}
.align-left {
text-align:left;
}
.align-right {
text-align:right;
}
.align-center {
text-align:center;
}
.bold {
font-weight:bold;
}
.float-left {
float:left;
}
.float-right {
float:right;
}
.float-clear {
clear: both;
}
br.float-clear {
clear: both;
line-height:0px;
}
div.float-clear-div {
line-height:0px;
display:block;
margin:0;
padding:0;
clear:both;
height:0;
border:none;
visibility:hidden;
font-size:0;
}
.visible-hide {
visibility:hidden;
}
.display-block {
display:block;
}
.display-none {
display:none;
}
.collapse_separate {
border-collapse: separate;
}
blockquote.quote {
border-left:2px solid #cccccc;
padding-left:5px;
margin:0px 0px 0px 25px;
}
input.text {
width:250px;
}
input.mail_subject {
width:250px;
}
input.date {
width:75px;
}
textarea.mail_body {
width:300px;
height:200px;
}
textarea.textarea {
width:450px;
height:80px;
}
body {line-height:1.5}
.container {
border-collapse:collapse;
}
.leftcolumn {
border: 0px none;
width:20%;
}
.centercolumn {
border: 0px none;
width:80%;
}
.rightcolumn {
border: 0px none;
width:20%;
}
.headercolumn {
border: 0px none;
width:auto;
}
.footercolumn {
border: 0px none;
width:auto;
}
.main_column {
}
.headercolumn_on {
border-bottom:1px solid #cccccc;
}
.leftcolumn_on {
border-right:1px solid #cccccc;
}
.rightcolumn_on {
border-left:1px solid #cccccc;
}
.enlarged_display {
padding:10px;
}
.column_movedummy div {
border:2px dashed #ffd700;
overflow:hidden;
}
.select_leftcolumn {
border:2px solid #ffd700;
}
.select_centercolumn {
border:2px solid #ffd700;
}
.select_rightcolumn {
border:2px solid #ffd700;
}
.select_headercolumn {
border:2px solid #ffd700;
}
.addmobule_box {
padding:8px 8px 2px 8px;
}
div.headercolumn_menu {
background-color:#ffffff;
}
table#header_menu a.menulink,
table#header_menu a.menulink:link,
table#header_menu a.menulink:visited,
table#header_menu a.menulink:active,
table#header_menu a.menulink:hover {
color:#7a858f;
}
table#header_menu {
width:100%;
text-align:left;
}
table#header_menu td.menu_right {
text-align:right;
vertical-align:middle;
white-space:nowrap;
padding:4px 0px 4px 4px;
}
table#header_menu td.menu_left {
text-align:left;
vertical-align:middle;
padding:0px;
white-space:nowrap;
}
table#header_menu .header_btn_left {
vertical-align:middle;
padding:0px 6px;
}
table#header_menu .header_btn {
vertical-align:middle;
padding:0px 6px;
border-left:1px solid #9999cc;
}
table#header_menu .header_icon {
margin:0px 2px;
}
table#header_menu .setting_end_btn {
color:#74ad69;
}
table#footerbar {
text-align:right;
color:#a3a3a3;
vertical-align:middle;
font-size:80%;
font-weight:bold;
width:100%;
}
table#footerbar .copyright {
text-align:right;
color:#a3a3a3;
vertical-align:middle;
font-size:90%;
font-weight:bold;
padding:0 8px;
}
div#centercolumn_inf_mes {
padding:5px;
border:1px solid #cccccc;
margin:5px;
text-align:center;
}
div#centercolumn_inf_mes div {
padding:3px;
}
td.comp_draganddrop {
background-image:url("images/comp/draganddrop/move_bar.gif");
background-repeat:repeat-y;
cursor:move;
width:10px;
}
.counter_main {
padding:0px 2px 0px 25px;
}
.counter_note {
padding:5px 0px;
text-align:left;
}
.counter_preview{
margin-top:10px;
margin-bottom:10px;
}
.counter_preview_area{
width:auto;
border: 1px solid #666666;
padding:5px;
}

.menu_edit_top_outer {
border:1px solid #cccccc;
border-collapse: separate;
margin-bottom:1px;
}
.menu_room {
background-color:#659ada;
}
.menu_node {
background-color:#d767af;
}
.menu_leaf {
background-color:#aca899;
}
.menu_prepared {
color:#fe8d9e;
font-weight:400;
}
.menu_none_displayseq {
width:10px;
height:24px;
}
.menu_lbl_disabled {
color:#cccccc;
}
.menu_top_menu {
text-align:right;
padding:5px;
}
.menu_top_menu_btn {
padding:5px;
white-space:nowrap;
}
.menu_bar_img {
width: 3px;
}
.menu_visibility_td {
padding:0px 5px;
}
.menu_visibility_img {
width:16px;
height:16px;
}
.menu_main_edit_td {
padding-left:5px;
vertical-align:middle;
}
.menu_del_btn {
padding-left:5px;
padding-right:5px;
vertical-align:middle;
white-space:nowrap;
}
.menu_trash_img {
width:13px;
height:14px;
}
.menu_pagename_text {
width:120px;
}
form.login_popup, form.login_block {
background-color:#ffffff;
padding:0px 10px;
}
form.login_popup {
width:230px;
}
form.login_block {
width:190px;
}
form.login_popup input.login_input, form.login_block input.login_input {
display:block;
margin-bottom:10px;
border:1px solid #cccccc;
border-right:1px solid #ebebeb;
border-bottom:1px solid #ebebeb;
}
form.login_popup input.login_input {
width:230px;
}
form.login_block input.login_input {
width:180px;
}
form.login_popup div.login_buttons, form.login_block div.login_buttons {
margin-bottom:5px;
}
form.login_popup div.login_buttons {
margin-left:34px;
}
form.login_block div.login_buttons {
margin-left:45px;
}
label.login_label {
display:block;
margin-bottom:3px;
}
.login_forgetpass {
width:330px;
}
.login_detail_head {
text-align:left;
vertical-align:top;
padding:2px 8px !important;
}
.login_detail_detail {
padding:2px;
}
.login_desc {
padding-left:5px;
color:#af2c4d;
}
.login_disclaimer {
height:150px;
width:330px;
}
.login_autoregist_comp {
text-align:center;
font-size:130%;
font-weight:bold;
}
.login_mes_autoregist_confirm {
width:330px;
padding:15px;
border:1px solid #ca9c93;
}
.login_autoregist_content {
width:330px;
padding:15px;
margin-top:10px;
}
.login_autoregist_content_textarea {
height:150px;
width:330px;
}
iframe.login_popup {
border:0px;
width:250px;
}
iframe.login_block {
border:0px;
width:200px;
}
iframe.login_popup_ie7padding {
padding-bottom:7px;
}
div.login_ssl_outer,
div.login_ssl_outer iframe,
form.login_ssl_outer {
height:195px;
}
div.login_ssl_outer_rememberme,
div.login_ssl_outer_rememberme iframe,
form.login_ssl_outer_rememberme {
height:220px;
}
div.login_rememberme {
text-align:right;
}
div.login_ssl_outer_rememberme div.login_popup_sslcancel_btn,
div.login_ssl_outer div.login_popup_sslcancel_btn {
margin-left:136px;
}
div.login_ssl_outer div.login_popup_sslcancel_btn {
margin-top:-63px;
}
div.login_ssl_outer_rememberme div.login_popup_sslcancel_btn {
margin-top:-88px;
}
.login_ssl_font {
text-align:left;
padding:5px 0px 10px 10px;
background:white;
}
input.login_login_button,
input.login_cancel_button {
border:2px solid #95d1e4;
background-color:#f9ffff;
color:#8299bb;
font-family:arial,sans-serif;
font-weight:bold;
padding-top:3px;
padding-bottom:5px;
overflow: visible;
cursor:pointer;
}
input.login_login_button_hover,
input.login_cancel_button_hover {
border:2px solid #fff07a;
background-color:#fffbe5;
color:#e6b857;
}
input.login_login_button {
font-size:110%;
padding-left:12px;
padding-right:12px;
}
input.login_cancel_button {
font-size:80%;
margin-left:5px;
padding-left:5px;
padding-right:5px;
}
div.login_popup {
position: absolute;
left:-300px;
}
div.login_forgetpass_link {
text-align:right;
font-weight:bold;
padding-top:5px;
}
br.login_offset_height {
line-height:2em;
}
ul.menu_jq_gnavi_pldwn_green {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
background:transparent url(images/menu/jq_gnavi_pldwn_green/header_btnback.gif) repeat-x scroll left bottom;
height:35px;
margin:0px;
padding:0px 20px;
}
ul.menu_jq_gnavi_pldwn_green li {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
background:transparent url(images/menu/jq_gnavi_pldwn_green/header_btnback.gif) repeat-x scroll left bottom;
float:left;
padding:0px;
position:relative;
width:130px;
height:35px;
}
ul.menu_jq_gnavi_pldwn_green li a {
height:100%;
line-height:35px;
overflow:hidden;
display:block;
padding:0px;
}
ul.menu_jq_gnavi_pldwn_green li a.menu_jq_gnavi_pldwn_green_highlight {
background:#5ba44f url(images/menu/jq_gnavi_pldwn_green/header_btnhover.gif) repeat-x scroll left bottom;
color:#ffffff !important;/*important is for IE6*/
}
.menu_jq_gnavi_pldwn_green_btn {
border-color:transparent #bbd1b2 transparent #ffffff;
border-style:solid;
border-width:0px 1px;
padding:0px;
text-align:center;
font-weight:bold;
}
ul.menu_jq_gnavi_pldwn_green_sub {
min-width:140px;
background-color:#ffffff;
padding:0px;
display:none;
z-index:1000;
position:absolute;
border-color:#ddd #aaa #aaa #ddd;
border-style:solid;
border-width:1px;
-moz-box-shadow:2px 2px 2px #aaa;
-webkit-box-shadow:2px 2px 2px #aaa;
box-shadow:2px 2px 2px #aaa;
}
ul.menu_jq_gnavi_pldwn_green_sub li {
background:none;
height:2.2em;
width:auto;
float:none;
}
ul.menu_jq_gnavi_pldwn_green_sub li a {
line-height:2.2em;
padding:0px 5px;
text-align:left;
border-bottom:1px dotted #b6d5af;
width:auto;
}
ul.menu_jq_gnavi_pldwn_green_sub li a.menu_jq_gnavi_pldwn_green_btn {
font-weight:normal;
}
ul.menu_jq_gnavi_pldwn_green_sub li ul.menu_jq_gnavi_pldwn_green_sub {
top:0;
}
ul.menu_jq_gnavi_pldwn_green{
zoom:1;
}
ul.menu_jq_gnavi_pldwn_green:after {
height:0;
visibility:hidden;
content:".";
display:block;
clear:both;
}
*+html ul.menu_jq_gnavi_pldwn_green {
height:auto;
}
*+html ul.menu_jq_gnavi_pldwn_green_sub {
left:-40px;
zoom:1;
width:140px !important;
}
*+html ul.menu_jq_gnavi_pldwn_green_sub li ul.menu_jq_gnavi_pldwn_green_sub {
left:100px;
}
*+html ul.menu_jq_gnavi_pldwn_green_sub li {
display:inline;
}
* html ul.menu_jq_gnavi_pldwn_green {
height:auto;
}
* html ul.menu_jq_gnavi_pldwn_green li a {
width:100%;
}
* html ul.menu_jq_gnavi_pldwn_green_sub {
left:-40px;
zoom:1;
width:140px !important;
}
* html ul.menu_jq_gnavi_pldwn_green_sub li ul.menu_jq_gnavi_pldwn_green_sub {
left:110px;
}
* html ul.menu_jq_gnavi_pldwn_green_sub li {
display:inline;
}
* html ul.menu_jq_gnavi_pldwn_green_sub li a {
width:140px !important;
}
.menu_jq_gnavi_pldwn_green_actives {
background:#5ba44f url(images/menu/jq_gnavi_pldwn_green/header_btnhover.gif) repeat-x scroll left bottom !important;
color:#ffffff !important;
}
ul.menu_jq_gnavi_pldwn_green_sub .menu_jq_gnavi_pldwn_green_actives {
background:#5ba44f url(images/menu/jq_gnavi_pldwn_green/header_light_btnback.gif) repeat-x scroll left top !important;
color:#ffffff !important;
}


.menu_top_public {
font-weight:bold;
white-space:nowrap;
display:block;
padding:2px;
}
.menu_public {
display:block;
padding:2px;
}
.menu_top_private {
font-weight:bold;
white-space:nowrap;
display:block;
padding:2px;
}
.menu_private {
display:block;
padding:2px;
}
.menu_top_group {
font-weight:bold;
white-space:nowrap;
display:block;
padding:2px;
}
.menu_group {
display:block;
padding:2px;
}
.menu_top_page {
text-align:right;
white-space:nowrap;
}
.menu_top_page_href {
padding-left:3px;
padding-right:3px;
white-space:nowrap;
font-weight:bold;
}

.mdb_metadata_detail_main {
border:0px;
}
.mdb_metadata_detail_pos_1 {
background:#dbe9ea;
}
.mdb_metadata_detail_pos_2 {
background:#e9f2fb;
}
.mdb_metadata_detail_pos_3 {
background:#fff7de;
}
.mdb_metadata_detail_pos_4 {
background:#eee7de;
}
.mdb_metadata_detail {
border:1px solid #cccccc;
width:276px;
}
.mdb_metadata_detail_top_bottom {
border:1px solid #cccccc;
width:552px;
}
.mdb_chg_col {
width:276px;
}
.mdb_chg_row {
width:276px;
}
.mdb_metadata_detail td.mdb_metadata_detail_td,.mdb_metadata_detail th.mdb_metadata_detail_td,.mdb_metadata_detail_top_bottom td.mdb_metadata_detail_td,.mdb_metadata_detail_top_bottom th.mdb_metadata_detail_td,.mdb_metadata_table td.mdb_metadata_detail_td,.mdb_metadata_table th.mdb_metadata_detail_td{
padding:2px;
border-top:1px solid #cccccc !important;
font-weight:normal;
}
.mdb_drop_event {
height:10px;
}
.mdb_chg_seq {
white-space:nowrap;
width:15px;
}
.mdb_setting_manage {
text-align:right;
white-space:nowrap;
}
.mdb_metadata_add_btn {
padding:5px;
text-align:right;
white-space:nowrap;
}
.mdb_grid_table {width:780px;}
.mdb_grid_manage {width:350px;}
.mdb_metadata_options {
border:1px solid #cccccc;
width:250px;
height:140px;
margin:5px;
overflow:auto;
}
.mdb_detail_head {
text-align:left;
vertical-align:top;
padding: 5px 8px !important;
}
.mdb_detail_head_top_bottom {
width:20%;
}
.mdb_edit_detail {
vertical-align:top;
padding: 5px 8px !important;
}
.mdb_metadata_table {
border:1px solid #cccccc;
border-bottom-style:none;
border-right-style:none;
border-left-style:none;
border-collapse:collapse;
width:100%;
}
.mdb_setting_type {
color:#c0c0c0;
}
.mdb_metadata_image {
height:127px;
}
.mdb_mdblist_table {
width:100%;
}
.mdb_detail_block {
background-color:#ffffff;
border:1px solid #3865b7;
color:#3865b7;
font-size:85%;
font-weight:normal;
text-align:center;
}
.mdb_comment {
margin-left:20px;
}
.mdb_comment_content {
padding:2px 10px 20px;
}
.mdb_comment_list {
width:100%;
}
.mdb_comment_title {
font-weight:bold;
margin-top:15px;
margin-bottom:2px;
}
.mdb_comment_separator {
margin:0 5px;
}
.mdb_comment_head {
background-color:#E6E6E6;
padding:2px;
}
.mdb_comment_submit {
margin-top:10px;
padding-bottom:5px;
text-align:center;
width:450px;
}
.mdb_search_result_content {
padding:0px 5px 10px 15px;
}
.mdb_search_time {
color:#008000;
font-size:80%;
}
.mdb_separator {
margin-right:5px;
}
.mdb_layout_out_table {
margin-top:10px;
margin-bottom:5px;
border:1px solid #cccccc;
border-collapse:collapse;
width:100%;
}
.mdb_layout_out_table_td {
border-top: 0px;
border-left: 1px #cccccc;
border-right: 1px solid #cccccc;
}
.mdb_sequence {
padding : 2px 0px 2px 3px;
border-top : 1px solid #e0e0e0;
border-bottom : 1px solid #e0e0e0;
border-right : 1px solid #e0e0e0;
height : 22px;
overflow : hidden;
}
.mdb_sequence_title {
width:300px;
}
span.mdb_page_switch a {
margin:0px 4px;
}
.mdb_chgseq {
padding:5px 0px;
}
.mdb_search_page_count {
font-size:80%;
}
.mdb_search_user_name {
font-size:90%;
}
.mdb_search_result_prev {
padding-bottom:10px;
text-align:left;
}
.mdb_search_result_next {
padding-bottom:10px;
text-align:right;
}
.mdb_search_result_contents {
padding:5px 0px;
}
.mdb_right_space {
padding-right: 50px;
}
.mdb_comment_input_title {
font-weight:bold;
margin-bottom:2px;
margin-top:15px;
}
a.mdb_fixed_link {
font-size:80%;
margin-right:5px;
}
span.mdb_page_switch a.current {
font-weight:bold;
color:#c90505;
}
.multidatabase_filepassword_popup_title{
margin-bottom: 5px;
width: 190px;
}
.mdb_password_popup_input_block {
margin-bottom: 5px;
width: 180px;
border:1px solid #cccccc;
border-right:1px solid #ebebeb;
border-bottom:1px solid #ebebeb;
}
.mdb_file_password_display {
font-size:80%;
margin-left:5px;
}
.mdb_file_download_count_font {
font-size:0.9em;
padding-left:4px;
}
div.linklist_select_line, div.linklist_select_mark {
overflow :auto;
width: 200px;
height: 70px;
border:1px solid #cccccc;
}
a.linklist_select_item {
text-decoration:none;
display:block;
white-space:nowrap;
background-repeat:repeat-x;
background-position:left center;
width:170px;
height:1em;
padding:3px;
}
a.linklist_select_item:hover {
background-color:#eaeaea;
}
ul.linklist_mark {
margin:0px;
padding-left:20px;
}
div.linklist_head {
text-align:right;
}
select.linklist_dropdown {
margin-top:10px;
width:100%;
}
a.linklist_head {
margin-left:10px;
width:80px;
}
input.linklist_search {
width:300px;
}
span.linklist_highlight {
color:inherit;
background-color: #f0ff6f;
font-weight:bold;
}
div.linklists_search_result {
}
div.linklist_line {
background-repeat:repeat-x;
background-position:left center;
height:1em;
margin-top:10px;
}
div.linklist_category_name {
margin-top:8px;
margin-left:5px;
white-space:nowrap;
}
ul.linklist_link {
padding-left:40px;
margin:0px;
}
ul.linklist_link_none {
padding-left:20px;
margin:0px;
}
li.linklist_link{
margin-top:5px;
}
span.linklist_view_count {
margin-left:10px;
}
div.linklist_description {
margin:4px 10px;
}
a.linklist_category_add {
margin-left:5px;
}
div.linklist_category_add {
padding-top:3px;
}
form.linklist_entry {
margin-top:20px;
}
table.linklist_category {
background-color:#eeffff;
width:100%;
height:25px;
}
table.linklist_category td {
border-top:1px solid #cccccc;
border-bottom:1px solid #cccccc;
}
td.linklist_category_name {
padding-left:5px;
}
td.linklist_draganddrop {
border-bottom:1px solid #cccccc;
border-left:1px solid #cccccc;
border-top:1px solid #cccccc;
}
input.linklist_category_name {
width:160px;
}
table.linklist_link {
width:400px;
margin-left:20px;
}
table.linklist_link td {
border-top:1px solid #cccccc;
border-bottom:1px solid #cccccc;
}
input.linklist_title {
width:220px;
}
input.linklist_url {
width:340px;
}
a.linklist_description {
margin-left:20px;
}
textarea.linklist_description {
height:65px;
width:340px;
}
td.linklist_delete_category {
text-align:right;
}
.linklist_grid_table {width:580px;}
.nuufsfooterbody{
background-color:#ffffff;
}
.nuufsfooterone{
color:#999999;
font-weight:normal;
text-align:center;
}
a.nuufsfooteronelink{
color:#666666;
text-decoration:none;
}
a.nuufsfooteronelink:link{
color:#666666;
text-decoration:none;
}
a.nuufsfooteronelink:visited{
color:#666666;
text-decoration:none;
}
a.nuufsfooteronelink:hover{
color:#666666;
text-decoration:underline;
}
.nuufsfootertwo{
color:#333333;
font-weight:normal;
text-align:center;
}


.th_none_content {
border:0px;
padding:0px;
}
.th_none_title {
white-space:nowrap;
text-align: left;
margin-bottom:10px;
}

.th_glass-2_title_header {
padding-top:2px;
vertical-align:top;
width:13px;
}
.th_glass-2_title {
color:#6e7c5b;
}
.th_glass-2 color {
color:#748c49;
}
.th_glass-2 .highlight {
background-color:#e7e9da;
color:#748c49;
}
.th_glass-2 a.hover_highlight:hover {
background-color:#e7e9da;
color:#748c49;
text-decoration:none;
}
.th_glass-2_content {
border: 0px;
padding: 5px 10px 5px 10px;
background-color:#f7f7ef;
}
.th_glass-2_upperleft {
width:13px;
height:13px;
background:transparent url("themes/glass-2/images/upperleft.gif") no-repeat scroll left bottom;
}
.th_glass-2_upper {
height:13px;
background:transparent url("themes/glass-2/images/upper.gif") repeat-x scroll center bottom;
}
.th_glass-2_upperright {
width:13px;
height:13px;
background:transparent url("themes/glass-2/images/upperright.gif") no-repeat scroll right bottom;
}
.th_glass-2_left {
width:13px;
height:13px;
background:transparent url("themes/glass-2/images/left.gif") repeat-y scroll left center;
}
.th_glass-2_right {
width:13px;
height:13px;
background:transparent url("themes/glass-2/images/right.gif") repeat-y scroll right center;
}
.th_glass-2_belowleft {
width:13px;
height:13px;
background:transparent url("themes/glass-2/images/belowleft.gif") no-repeat scroll left top;
}
.th_glass-2_below {
height:13px;
background:transparent url("themes/glass-2/images/below.gif") repeat-x scroll center top;
}
.th_glass-2_belowright {
width:13px;
height:13px;
background:transparent url("themes/glass-2/images/belowright.gif") no-repeat scroll right top;
}

body {
background-color:#fbfcf7;
}
.leftcolumn {
background-color:#fbfcf7;
}
.centercolumn {
background-color:#fbfcf7;
}
.rightcolumn {
background-color:#fbfcf7;
}
.headercolumn_menu {
background-color: #fbfcf7 !important;
}
.headercolumn {
background-color:#fbfcf7;
}
.footercolumn {
background-color:#fbfcf7;
}


.th_system {
width:100%;
height:auto;
border-bottom:1px solid #eeeeee;
}
.th_system_inside {
background-color:#ffffff;
}
.th_system_upperleft {
width:6px;
height:6px;
background:transparent url("themes/system/images/setting_upperleft.gif") no-repeat scroll left bottom;
}
.th_system_upper {
height:6px;
background:transparent url("themes/system/images/setting_upper.gif") repeat-x scroll center bottom;
}
.th_system_upperright {
width:6px;
height:6px;
background:transparent url("themes/system/images/setting_upperright.gif") no-repeat scroll right bottom;
}
.th_system_left {
width:6px;
height:6px;
background:transparent url("themes/system/images/setting_left.gif") repeat-y scroll left center;
}
.th_system_right {
width:6px;
background:transparent url("themes/system/images/setting_right.gif") repeat-y scroll right center;
}
.th_system_belowleft {
width:6px;
height:6px;
background:transparent url("themes/system/images/setting_belowleft.gif") no-repeat scroll left top;
}
.th_system_below {
height:6px;
background:transparent url("themes/system/images/setting_below.gif") repeat-x scroll center top;
}
.th_system_belowright {
width:6px;
height:6px;
background:transparent url("themes/system/images/setting_belowright.gif") no-repeat scroll right top;
}
.th_system_header_right {
white-space:nowrap;
}
.th_system_header_left {
white-space:nowrap;
}
.th_system_header_center {
width:100%;
vertical-align:top;
padding-left:0px;
padding-right:5px;
}
.th_system_header_dot {
width:100%;
vertical-align:top;
white-space:nowrap;
}
.th_system_header_move {
background:transparent url("themes/system/images/setting_dot.gif") repeat-x scroll left center;
}
.th_system_titlecolor {
background-color:#ffffff;
color:#949494;
}
.th_system_title {
padding-left:5px;
font-weight:bold;
white-space:nowrap;
}
.th_system_btn {
vertical-align:top;
padding:0px 2px;
}
